// Containers

$container_desktop: 1440px;
$container_desktop_inner: 1223px;
$container_desktop_mid: 992px;
$container_tablet_portrait: 768px;
$container_tablet_portrait_min: 767px;
$container_tablet_landscape: 1024px;
$container_mobile: 480px;
$form_container: 432px;

// Colors

$white: #ffffff;
$evergreen-primary-black: #000000;
$evergreen-primary-greyscale: #EBE7E4;
$evergreen-primary-red: #ED1B2E;
$evergreen-primary-orange: #F68B31;
$evergreen-primary-champagne: #8B7866;
$evergreen-secondary-fuscia: #BE0016;
$evergreen-secondary-ginger: #CA4F18;
$evergreen-secondary-grey: #7F7F7F;
$evergreen-secondary-green: #00991C;
$evergreen-secondary-black: #404040;
$evergreen-secondary-tapue: #D9C69F;
$evergreen-secondary-light-grey: #F2F2F2;
$treasure-primary-dark-gold : #5F4D24;
$treasure-primary-gold: #8D734A;
$treasure-primary-beige: #D0B57C;
$treasure-primary-dark-grey: #3D3834;
$treasure-primary-light-grey: #6D6D6D;
$treasure-secondary-orange: #EE6A45;
$treasure-secondary-yellow: #077E8D;
$treasure-secondary-blue: #077E8D;
$treasure-magenta: #CC0156;
$brand-wine: #732532;
$brand-purple: #9D2271;
$brand-khaki: #817839;
$brand-gold: #E6AE3D;
$brand-salmon: #DF937C;
$brand-beige: #D6AF6D;
$brand-clay: #A85529;
$brand-dark-blue: #265E7D;
$brand-sky: #4FB2C0;
$brand-green-foam: #95CAAA;
$brand-zenith: #A5B2D5;
$brand-violet: #A08CBC;
$brand-cranbery: #D40A61;
$brand-daphne-blue: #89B7C8;
$tjx-raisin: #351622;
$tjx-petrol: #323F48;
$tjx-text-color: #637162;
$tjx-bg-color: #E0EDD8;
$tjx-light-green: #E0EDD8;
$tjx-dark-green: #98B269;
$tjx-copper: #CC9513;
$tjx-light-yellow: #EDDFB0;
$tjx-light-pink: #FDDDD7;
$tjx-baby-blue: #C7D6E0;
$tjx-dark-pink: #A5627B;
$tjx-mocha: #D2CCBD;
$tjx-cream: #F9F8F1;
$tjx-dark-grey: #444241;
$tjx-pastel-pink: #F5CBDD;
$tjx-hot-pink: #E21670;
$tjx-green: #2CBF63;
$cr-ocean-blue: #9EBEE3;
$cr-energy: #CDC778;
$cr-green: #66BF4C;
$dark-green: #4B8D68;
